# Special configuration, so that the testmod can use the correct shadowed logging classes.
lombok.log.apacheCommons.flagUsage=WARNING
lombok.log.custom.declaration=de.siphalor.tweed5.shadowed.org.apache.commons.logging.Log de.siphalor.tweed5.shadowed.org.apache.commons.logging.LogFactory.getLog(TYPE)
lombok.log.custom.flagUsage=ALLOW
